[submodule "mainProgram"]
	path = mainProgram
	url = https://github.com/ivanmorenoj/emca.git
[submodule "loraProgram"]
	path = loraProgram
	url = https://github.com/ivanmorenoj/arduino-serial-server.git
[submodule "loraWANLibrary"]
	path = loraWANLibrary
	url = https://github.com/BeelanMX/Beelan-LoRaWAN.git
[submodule "loraserver"]
	path = loraserver
	url = https://github.com/brocaar/loraserver-docker.git
[submodule "thingsboard"]
	path = thingsboard
	url = https://github.com/thingsboard/thingsboard.git
[submodule "tesis"]
	path = tesis
	url = https://github.com/ivanmorenoj/tesis-lic
